.breadcrumb { float: left; padding: 5px 0px; }

.breadcrumb ul { margin: 0; padding: 0; }

.breadcrumb ul li { list-style: none; float: left; font-size: 12px; }

.breadcrumb ul li a { color: #9cb1c5; text-decoration: none; padding: 5px 8px; display: inline-block; font-weight: bold; }

.breadcrumb ul .active a { color: #fff; }

.active { float: right; }

.active ul .active a { text-decoration: underline; }
