@import 'component/_global';
@import 'component/_textbox';
@import 'component/_breadcrumb';
@import 'component/_header';
@import 'component/_color';
@import 'component/_checkbox';
@import 'component/_terms';
@import 'component/_button';
@import 'component/_radio';


.personal_loan_theme{ font-family: 'Lato', sans-serif;
	.blue_theme{background: $pl_theme; width: 100%; float: left;padding-bottom: 20px;
		.container{width: 1170px; margin: auto; padding:0px 0px 10px 0px;
			h1{text-align: center; color: #fff; font-weight: 400; display: block; padding-bottom: 30px;}
			.small_container{max-width: 900px; margin: auto;
				.pq1action{height: 50px; padding: 10px 60px;}
				
			}
		}
	}
	.overview_section{padding: 10px 20px;
		.overview_head{position: relative; padding-bottom: 30px;
			&::after{ content: ''; width: 60px; height: 2px; background: $org_bg; position: absolute; bottom: 20px; left: 0;}
		}
		p{font-size: 14px; margin-bottom: 15px;line-height: 22px;}
	}
}