.breadcrumb{ float: left; padding: 5px 0px;
				ul{margin: 0; padding: 0;
					li{list-style: none; float: left; font-size: 12px;
						a{color:#9cb1c5; text-decoration: none; padding: 5px 8px; display: inline-block; font-weight: bold;}
						
					}
					.active{
						a{color: #fff;}
					}
				}
			}
			.active{float: right;
				ul{
					.active{
						a{text-decoration: underline;}
					}
				}
			}