input[type='checkbox']{width: 1px; height: 1px;}
input[type='checkbox']:before{background:url(../images/radio-check-icon.png);width: 19px; height: 21px; content: ''; display: inline-block; position: absolute; top: 0;}
input[type='checkbox']:checked:before{background:url(../images/radio-check-icon.png) 0px -40px;}