*{box-sizing:border-box}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;list-style:none}
section,article,header,nav,footer,aside{display:block}


.fs-8{font-size: 8px;}
.fs-10{font-size: 10px;}
.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}


.fs-w_light{font-weight: lighter;}
.fs-w_400{font-weight: 400;}

.upper_case{text-transform: uppercase;}

.row{width: 100%; float: left;}
.col-3{width: 33%; float: left; padding: 0px 10px;}
.col-6{width: 50%; float: left; padding: 0px 10px 0px 0px;}
.col-12{width: 100%; float: left;}
.text_center{text-align: center;}
