 header{position: relative; background: #fff; border-bottom: 1px solid rgba(0,0,0,.1); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1); box-shadow: 0 1px 3px rgba(0,0,0,.1); display: block; overflow: hidden;
	.logo{padding: 17px 24px 17px 20px; width: 220px; display: inline-block; background: url(../images/image.png) 18px 20px no-repeat; height: 70px;
		 a{width: 100%; display: block; height: 70px;}
		 }
		 .right_tollfree{float: right; padding: 6px 15px; text-align: right;
			 .number{color: #FC9210; font-size: 13px;}
			 .time{color: #55b0e3; letter-spacing: 1px; font-size: 9px; padding: 6px 0px;}
			 .whatsapp{font-size: 12px;
				 em{ background: url(../images/image.png) -32px -52px no-repeat; height: 16px; width: 16px; display: inline-block; position: relative; top: 3px;

				 }
			 }
		 }
	}