.radio_btn_section{
	.radio_btn{display: none;}
	.radio_btn + label{color: #000; background: #fff; border-radius: 4px;display: block; width: 100%; height: 42px; position: relative; line-height: 42px; text-align: center; font-size: 16px; cursor: pointer}
	.radio_btn:checked + label{ color: #777;}
	.radio_btn + label:hover{background: #ededed;}
}