.trems_conditions{font-size: 12px; padding-left: 30px;
					.trems_check{ display: inline-block; width: 30px; height: 30px; position: absolute; left: 0; top: 0;}
					label{ display: inline; color: #fff; cursor: pointer;
						a{color: $link_clr;}
					}
					.show_more{position: absolute; right: 0px; bottom: 0;}
					.show_more:before{content: 'More+'; background: none !important; white-space: nowrap; color: #fff; text-decoration: underline; cursor: pointer;color: $link_clr; font-size: 12px;}
					.show_more:checked:before{content: 'Less-';}
					.show_more ~ .show_less{display: none;}
					.show_more:checked ~ .show_less{display: inline;}
					span{color: #fff;
						a{color: $link_clr;}
					}
				}