.form_group{ margin-bottom: 25px; position: relative;
	.form_control{width: 100%; font-size: 15px; border-radius: 4px; height: 42px; outline: none;border: 1px solid #ccc; padding:0px 10px 0px 55px;}
					em{position: absolute; bottom: 0px;padding: 10px 12px; height: 42px; width: 41px; font-size: 14px; font-weight: 500; color: #555;
    text-align: center; background-color: #eee; border: 1px solid #ccc; border-radius: 5px 0px 0px 5px;}
					label{color: #fff; display: block; padding-bottom: 5px;
						i.txtTooltip{padding: 1px 6px; border: 1px solid #fff; margin: -4px 0 0 5px; border-radius: 10px; width: 20px; height: 20px;display: inline-block; font-size: 12px; cursor: pointer; position: relative;
						.toopTipbox{ padding: 0; max-width: inherit; height: auto; min-width: 205px; font-size: 12px; background:#fff; color: #333; border-radius: 5px; padding: 3px 5px 5px; text-align: center; z-index: 1070; width: auto; top: -48px; right: 0; left: -94px; position: absolute;box-shadow: 2px 2px 2px rgba(0,0,0,.5); display: none;
							&::after{position: absolute; content: ''; width: 0; height: 0; border-color: transparent; border-style: solid; bottom: -5px; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #000; border-top-color: #fff;}
							}
							&:hover > .toopTipbox{display: block;}
						}
						
	}
					.selectBox{ position: relative;
						.form_control{background:url(../images/sprite.png) #fff no-repeat 250px 19px; cursor: pointer; padding:0px 15px;}
					.SelectBox_list{background-color: white; border: 1px solid #aaa; position: absolute; width: 100%; display: none;z-index: 2;
						.SelectBox_list_search{ padding: 5px;
							input[type='text']{border: 1px solid #ccc; height: 42px; font-size: 16px; padding: 6px 12px; width: 100%; border-radius: 4px; outline: none;}
						}
						ul{ padding: 10px 0px 0px; max-height: 200px; overflow-y: auto;
							li{padding: 5px 10px; font-size: 14px; cursor: pointer;
								&:hover{color: #262626; background-color: #f5f5f5;}
							}
						}
					}
						.open_select{display: block;}
					}
	.txtHintEn{position: absolute; bottom: -26px; color: #fff; font-size: 10px; line-height: 11px; left: 40px;}
				}